<blockquote>
  <p>CryptoCashCow is a platform where anybody can get a free CryptoCashCow. Every CryptoCashCow will produce CryptoCashCow Token (CCC)</p>
  <footer><a href="https://info.cryptocashcow.io/" target="_blank">https://info.cryptocashcow.io/</a></footer>
</blockquote>
