<blockquote>
  <p>DAEX is a clearing solution for centralized cryptocurrency trading exchanges. The DAEX ecosystem uses token DAX to facility the cooperation among different parts in the system.</p>
  <footer><a href="https://www.daex.io/" target="_blank">https://www.daex.io/</a></footer>
</blockquote>
