<blockquote>
  <p>GoldenChain's the main goal is to create a golden trading platform. Also GoldenChain is aiming to use GOLD Token on e-commerce websites both as payment method and as discount coupon.</p>
</blockquote>
