<blockquote>
  <p>Litecoin Platineum is a community-driven crypto ecosystem where the best of Litecoin and Ethereum meet. LTCP will focus its investment on pets' industry, online point-of-sale and user-to-user transfers.</p>
  <footer><a href="https://litecoinplatineum.info/" target="_blank">https://litecoinplatineum.info/</a></footer>
</blockquote>
