<blockquote>
  <p>The MD tokens are based on Ethereum based block chain technology and enable a transparent and accountable system to bring about changes within the healthcare ecosystem for value-based care.</p>
  <footer><a href="https://mdtokens.com/" target="_blank">https://mdtokens.com/</a></footer>
</blockquote>
