<blockquote>
  <p>A leading provider of cutting-edge cryptocurrency mining technologies and blockchain based services, offering solutions for mining farms of all sizes and individual miners.</p>
  <footer><a href="https://www.marcelo-mrl.com/" target="_blank">https://www.marcelo-mrl.com/</a></footer>
</blockquote>
