<blockquote>
  <p>nDEX is Next generation decentralized exchange. NDX its main utility ERC20 token</p>
  <footer><a href="https://ndexnetwork.com/" target="_blank">https://ndexnetwork.com/</a></footer>
</blockquote>
