<blockquote>
  <p>Penta, (also referred to as “Penta Network” or “PNT”) is a new-generation of underlying
     blockchain network. Penta originates from Pentacle, a symbol that represents the birth of “Five Times Interlacing”, explores the cause and effect underlying everything, and goes
     after the development history and results of intertwined networks with a view to pursue a
     desirable blockchain world in the future.</p>
  <footer><a href="https://www.penta.global/" target="_blank">https://www.penta.global/</a></footer>
</blockquote>
